In [1]:
# Lesson-5: Lists
### List Creation
### List Indexing
### List Slicing
### Add , Remove & Change Items
### Copy List
### Join Lists
### List Membership
### Reverse & Sort List
### Loop through a list
### Count List Items
### All & Any functions with List
### List Comprehensions

# List
What is list in python?
- Ordered sequence of items. 
- Can have different data types under a list. 
  Example - integer, float, boolean and string

### List Creation
Let's get started with the first topic: List Creation!
A list is an ordered sequence of items. It can hold items of different types, like integers, floats, strings, and even other lists. You can create an empty list like this

In [2]:
# Empty List
list1 = []

In [3]:
print(type(list1))

<class 'list'>

And you can also create a list with numbers, strings, or other data types. 

Let's see a few examples!

In [4]:
# List of integers numbers

list2 = [10,30,60]

In [5]:
# List of float numbers

list3 = [10.77,30.66,60.89]

In [6]:
# List of strings

list4 = ['one','two' , "three"]

In [7]:
# Nested Lists

list5 = ['Akash', 25 ,[50, 100],[150, 90]]

In [8]:
# List of mixed data types

list6 = [100, 'Akash', 17.765]

In [9]:
list7 = ['Akash', 25 ,[50, 100],[150, 90] , {'John' , 'Bekar'}]

In [10]:
#Length of list

len(list6)

3

### List Indexing

Now, let's check how to access elements in a list using Indexing

In Python, lists are zero-indexed, meaning the first item is at index 0, the second at index 1, and so on.

In [11]:
# Retreive first element of the list

list2[0]

10

In [12]:
# Retreive first element of the list

list4[0]

'one'

In [13]:
 # Nested indexing - Access the first character of the first list element 

list4[0][0]

'o'

In [14]:
# Last item of the list

list4[-1]

'three'

In [15]:
# Last item of the list

list5[-1]

[150, 90]

### List Slicing

Slicing allows you to extract elements between any two indices. 

You can even slice from the beginning or to the end of the list!

In [3]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [17]:
# Return all items from 0th to 3rd index location excluding the item at loc 3.

mylist[0:3]

['one', 'two', 'three']

In [18]:
# List all items from 2nd to 5th index location excluding the item at loc 5.

mylist[2:5]

['three', 'four', 'five']

In [19]:
# Return first three items

mylist[:3]

['one', 'two', 'three']

In [20]:
# Return first two items

mylist[:2]

['one', 'two']

In [21]:
# Return last three items

mylist[-3:]

['six', 'seven', 'eight']

In [22]:
# Return last two items

mylist[-2:]

['seven', 'eight']

In [23]:
# Return last item of the list

mylist[-1]

'eight'

In [24]:
# Return whole list

mylist[:]

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

### Add , Remove & Change Items
Now, let's explore how to add, remove, and change items in a list.

In [4]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [5]:
# Add an item to the end of the list 

mylist.append('nine')  
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [27]:
# Add item at index location 9

mylist.insert(9,'ten') 
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [28]:
# Add item at index location 1

mylist.insert(1,'ONE') 
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [29]:
# Remove item "ONE"

mylist.remove('ONE') 
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [30]:
# Remove last item of the list

mylist.pop() 
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [31]:
# Remove item at index location 8

mylist.pop(8) 
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [32]:
# Remove item at index location 7

del mylist[7] 
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [33]:
# Change value of the string

mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [34]:
# Empty List / Delete all items in the list

mylist.clear()  
mylist

[]

In [35]:
# Delete the whole list

del mylist 
mylist

NameError: name 'mylist' is not defined

### Copy List
Sometimes you might need to make a copy of a list, so let's see how to do that.

In [2]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [3]:
# Create a new reference "mylist1"

mylist1 = mylist

In [4]:
# The address of both mylist & mylist1 will be the same as both are pointing to same list.

id(mylist) , id(mylist1)

(1923657973824, 1923657973824)

In [5]:
# Create a copy of the list

mylist2 = mylist.copy()

In [6]:
# The address of mylist2 will be different from mylist because mylist2 is pointing to the copy of the existing list

id(mylist2)

1923657847296

In [7]:
mylist[0] = 1

In [8]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [9]:
# mylist1 will be also impacted as it is pointing to the same list

mylist1

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [10]:
# Copy of list won't be impacted due to changes made on the original list

mylist2

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

### Join Lists

In [12]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [13]:
# Join two lists by '+' operator

list3 = list1 + list2 
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [14]:
#Append list2 with list1

list1.extend(list2) 
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [1]:
# Join Method

input_str = ["Hello" , "Good Morning" , "Everyone"]
mystr = ' & '.join(input_str)
mystr

'Hello & Good Morning & Everyone'

In [6]:
# Join Method

input_str = ["Hello" , "Good Morning" , "Everyone"]
mystr = ' '.join(input_str)
mystr

'Hello Good Morning Everyone'

### List Membership

In [15]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [16]:
# Check if 'one' exist in the list

'one' in list1

True

In [17]:
# Check if 'ten' exist in the list

'ten' in list1

False

In [18]:
# Check if 'three' exist in the list

if 'three' in list1: 
    print('Three is present in the list')
else:
    print('Three is not present in the list')

Three is present in the list

In [19]:
# Check if 'eleven' exist in the list

if 'eleven' in list1:  
    print('eleven is present in the list')
else:
    print('eleven is not present in the list')

eleven is not present in the list

### Reverse & Sort List

In [8]:
list1

['one', 'two', 'three', 'four']

In [9]:
# Reverse the list

list1.reverse() 
list1

['four', 'three', 'two', 'one']

In [10]:
# Reverse the list

lista = list1[::-1] 
lista

['one', 'two', 'three', 'four']

In [20]:
# Sort list in ascending order

mylist3 = [9,5,2,99,12,88,34]
mylist3.sort()   
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [21]:
# Sort list in descending order

mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True)  
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [22]:
# Returns a new sorted list and doesn't change original list

mylist4 = [88,65,33,21,11,98]
sorted(mylist4)

[11, 21, 33, 65, 88, 98]

In [23]:
mylist4

[88, 65, 33, 21, 11, 98]

### Loop through a list

In [25]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [26]:
list1 = ['four', 'three', 'two', 'one']

for i in list1:
    print(i)

four
three
two
one

In [27]:
for i in enumerate(list1):
    print(i)

(0, 'four')
(1, 'three')
(2, 'two')
(3, 'one')

### Count

In [28]:
list10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [29]:
list10.count('one') # Number of times item "one" occurred in the list.

3

In [31]:
list10.count('four') #Occurence of item 'four' in the list

1

### All / Any



The __any()__ function returns True if any element in the list is True. If not, any() returns False.

In [33]:
L1 = [1,2,3,4,0]

In [34]:
all(L1) # Will Return false as one value is false (Value 0)

False

In [35]:
any(L1)  # Will Return True as we have items in the list with True value

True

In [36]:
L2 = [1,2,3,4,True,False]

In [37]:
all(L2) # Returns false as one value is false

False

In [38]:
any(L2)  # Will Return True as we have items in the list with True value

True

In [39]:
L3 = [1,2,3,True]

In [40]:
all(L3) # Will return True as all items in the list are True

True

In [41]:
any(L3) # Will Return True as we have items in the list with True value

True

### List Comprehensions

- List Comprehensions provide an elegant way to create new lists.

- It consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses.

In [42]:
#Finally, let's talk about List Comprehensions. 
#This is a concise way to create lists

# Iterating through a string Using List Comprehension
mystring = "WELCOME"
mylist = [ i for i in mystring ] 
mylist

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [43]:
 # Display all even numbers between 0 - 40 using List Comprehension
    
mylist1 = [ i for i in range(40) if i % 2 == 0]
mylist1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [44]:
# Display all odd numbers between 0 - 40 using List Comprehension

mylist2 = [ i for i in range(40) if i % 2 == 1] 
mylist2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [45]:
# calculate square of all numbers between 0 - 10 using List Comprehension

mylist3 = [num**2 for num in range(10)] 
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [46]:
# Multiple whole list by 10
list1 = [2,3,4,5,6,7,8]
list1 = [i*10 for i in list1]
list1

[20, 30, 40, 50, 60, 70, 80]

In [47]:
#List all numbers divisible by 3 , 9 & 12 using nested "if" with List Comprehension
mylist4 = [i for i in range(200) if i % 3 == 0 if i % 9 == 0 if i % 12 == 0]
mylist4

[0, 36, 72, 108, 144, 180]

In [48]:
# Odd even test
l1 = [print("{} is Even Number".format(i)) if i%2==0 else print("{} is odd number".format(i)) for i in range(10)]

0 is Even Number
1 is odd number
2 is Even Number
3 is odd number
4 is Even Number
5 is odd number
6 is Even Number
7 is odd number
8 is Even Number
9 is odd number

In [49]:
# Extract numbers from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isdigit()]
numbers

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [50]:
# Extract letters from a string

mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isalpha()]
numbers

['O',
 'n',
 'e',
 't',
 'w',
 'o',
 't',
 'h',
 'r',
 'e',
 'e',
 'f',
 'o',
 'u',
 'r',
 'f',
 'i',
 'v',
 'e',
 's',
 'i',
 'x']

In [51]:
# If else in List Comprehension
list1 = ['XS' , 'S', 'M' , 'L' , 'XL']

['Extra Small' if i =='XS' else ('Small' if i =='S' else ('Medium' if i =='M' 
                                                          else ('Large' if i=='L' else 'Extra Large')))  for i in list1]

['Extra Small', 'Small', 'Medium', 'Large', 'Extra Large']

In [52]:
print("Lesson_05_Lists")

Lesson_05_Lists