# Database Operations

In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.4.0-cp313-cp313-win_amd64.whl.metadata (7.7 kB)
Downloading mysql_connector_python-9.4.0-cp313-cp313-win_amd64.whl (16.4 MB)
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   -------- ------------------------------- 3.4/16.4 MB 20.7 MB/s eta 0:00:01
   ------------------ --------------------- 7.6/16.4 MB 20.2 MB/s eta 0:00:01
   ----------------------------------- ---- 14.4/16.4 MB 25.0 MB/s eta 0:00:01
   ---------------------------------------- 16.4/16.4 MB 24.2 MB/s  0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.4.0

In [7]:
import mysql.connector
connection = mysql.connector.connect(
    host="localhost",
    port=3306,
    user="root",
    password="", #your password
    database="test" #create a schema 'test'
)

In [8]:
# Create a cursor object
cursor = connection.cursor()

In [9]:
cursor.execute('''CREATE TABLE IF NOT EXISTS people (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(100), age INT)''')

In [10]:
cursor.execute("INSERT INTO people (name, age) VALUES (%s, %s)", ("Rahul", 22))
connection.commit()

In [11]:
cursor.execute("INSERT INTO people (name, age) VALUES (%s, %s)", ("Ashish", 40))
connection.commit()

In [12]:
cursor.execute("SELECT * FROM people")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Rahul', 22)
(2, 'Ashish', 40)

In [15]:
cursor.execute("DELETE FROM people WHERE name='Rahul'")
connection.commit()

In [16]:
cursor.execute("SELECT * FROM people")
rows = cursor.fetchall()
for row in rows:
    print(row)

(2, 'Ashish', 40)