# Sets

### Set Creation
Let’s move on to how we can create a set.

Here’s how you can define a simple set

In [6]:
# Set of numbers

myset = {1,2,3,8,7,5,5,9,9} 
myset

{1, 2, 3, 5, 7, 8, 9}

In [7]:
#Length of the set

len(myset)

7

In [636]:
# Duplicate elements are not allowed.
# Even though we’ve added duplicates, 
# Python will automatically remove them! 
# The set only keeps unique elements.

my_set = {1,1,2,2,3,4,5,5}
my_set

{1, 2, 3, 4, 5}

You can also create sets with other data types, like floats, strings, or even tuples.

In [637]:
# Set of float numbers

myset1 = {1.79,2.08,3.99,4.56,5.45} 
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [1]:
# Set of Strings

myset2 = {'Akash' , 'John' , 'Tyrion'} 
myset2

{'Akash', 'John', 'Tyrion'}

In [639]:
# Mixed datatypes

myset3 = {10,20, "Hola", (11, 22, 32)} 
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [2]:
# Set doesn't allow mutable items like lists
# Python will raise an error! Sets only allow immutable data types.

myset3 = {10,20, "Hola", [11, 22, 32]} 
myset3

TypeError: unhashable type: 'list'

In [8]:
# Create an empty set

myset4 = set() 
print(type(myset4))

<class 'set'>

In [673]:
my_set1 = set(('one' , 'two' , 'three' , 'four'))
my_set1

{'four', 'one', 'three', 'two'}

### Loop through a Set

In [4]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}

for i in myset:
    print(i)

two
eight
one
six
three
seven
five
four

In [5]:
for i in enumerate(myset):
    print(i)

(0, 'two')
(1, 'eight')
(2, 'one')
(3, 'six')
(4, 'three')
(5, 'seven')
(6, 'five')
(7, 'four')

### Set Membership

In [6]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [7]:
# Check if 'one' exist in the set

'one' in myset

True

In [8]:
# Check if 'ten' exist in the set

'ten' in myset

False

In [9]:
# Check if 'three' exist in the set

if 'three' in myset: 
    print('Three is present in the set')
else:
    print('Three is not present in the set')

Three is present in the set

In [10]:
# Check if 'eleven' exist in the list

if 'eleven' in myset:  
    print('eleven is present in the set')
else:
    print('eleven is not present in the set')

eleven is not present in the set

### Add & Remove Items

In [11]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [12]:
# Add item to a set using add() method

myset.add('NINE') 
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [14]:
# Add multiple item to a set using update() method

myset.update(('TEN' , 'ELEVEN' , 'TWELVE'))  
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

If you want to remove an item, you can use the remove() method, or discard() if you don’t want an error when trying to remove a non-existent item.

In [16]:
# remove item in a set using remove() method

myset.remove('NINE') 
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [17]:
# remove item from a set using discard() method

myset.discard('TEN') 
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [18]:
# Delete all items in a set

myset.clear() 
myset

set()

In [19]:
# Delete the set object

del myset 
myset

NameError: name 'myset' is not defined

### Copy Set

In [705]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [706]:
# Create a new reference "myset1" 

myset1 = myset  
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [707]:
# The address of both myset & myset1 will be the same as both are pointing to same set.

id(myset) , id(myset1)

(1537349033320, 1537349033320)

In [708]:
# Create a copy of the list

my_set = myset.copy() 
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [710]:
# The address of my_set will be different from myset because my_set is pointing to the copy of the existing set.

id(my_set)

1537352902024

In [711]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [712]:
# myset1 will be also impacted as it is pointing to the same Set

myset1

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [713]:
# Copy of the set won't be impacted due to changes made on the original Set.

my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

### Set Operations

Now, let’s move on to some set operations like union, intersection, and difference.

#### Union
The union of two sets returns all unique items from both sets.

In [15]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [16]:
# Union of A and B (All elements from both sets. NO DUPLICATES)

A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [17]:
# Union of A and B

A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [4]:
# Union of A, B and C.

A.union(B, C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [9]:
# Updates the set calling the update() method with union of A , B & C. 
# For below example Set A will be updated with union of A,B & C.

A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

#### Intersection
The intersection operation returns only the elements that are present in both sets

In [18]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [19]:
# Intersection of A and B (Common items in both sets)

A & B

{4, 5}

In [20]:
#Intersection of A and B

A.intersection(B)

{4, 5}

In [765]:
# Updates the set calling the intersection_update() method with the intersection of sets.
# For below example Set A will be updated  with the intersection of A & B.

A.intersection_update(B)
A

{4, 5}

#### Difference
The difference of two sets shows the elements that are only in one set, not the other

In [22]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [23]:
# set of elements that are only in A but not in B

A - B

{1, 2, 3}

In [24]:
# Difference of sets

A.difference(B)

{1, 2, 3}

In [25]:
# set of elements that are only in B but not in A

B- A

{6, 7, 8}

In [770]:
B.difference(A)

{6, 7, 8}

In [771]:
# Updates the set calling the difference_update() method with the difference of sets.
# For below example Set B will be updated  with the difference of B & A.

B.difference_update(A)
B

{6, 7, 8}

#### Symmetric Difference
Set of elements in A and B but not in both, EXCLUDING THE INTERSECTION

In [12]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [13]:

A ^ B

{1, 2, 3, 6, 7, 8}

In [14]:
# Symmetric difference of sets

A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [775]:
# Updates the set calling the symmetric_difference_update() method with the symmetric difference of sets.
# For below example Set A will be updated  with the symmetric difference of A & B.

A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

### Subset , Superset & Disjoint

In [784]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [785]:
# Set B is said to be the subset of set A if all elements of B are in A.

B.issubset(A)

True

In [786]:
# Set A is said to be the superset of set B if all elements of B are in A.

A.issuperset(B)

True

In [787]:
# Two sets are said to be disjoint sets if they have no common elements.

C.isdisjoint(A)

True

In [788]:
# Two sets are said to be disjoint sets if they have no common elements.

B.isdisjoint(A)

False

### Set functions
Finally, let’s look at a few built-in functions

In [789]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [790]:
sum(A)

45

In [791]:
max(A)

9

In [792]:
min(A)

1

In [793]:
len(A)

9

In [795]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [798]:
D= sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [799]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
print("Lesson_07_Sets")

Lesson_07_Sets