# Dictionary



A Python dictionary is a mutable data structure, meaning you can change its content. 

It’s a collection of key-value pairs enclosed in curly braces {}.

Keys must be unique, and each key is associated with a specific value.

mydict = { "firstName" : "Bugs", "lastName" : "Bunny", "location": "Earth" }

### Create Dictionary 
Alright, now let's create some dictionaries together.

Here’s how you create a basic dictionary with integer keys and string values.

In [2]:
# empty dictionary

mydict = dict() # empty dictionary
mydict

{}

In [3]:
# empty dictionary

mydict = {}   
mydict

{}

In [1]:
# dictionary with integer keys

mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [5]:
# Create dictionary using dict()

mydict = dict({1:'one' , 2:'two' , 3:'three'}) 
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [6]:
# dictionary with character keys

mydict = {'A':'one' , 'B':'two' , 'C':'three'} 
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [13]:
# dictionary with mixed keys

mydict = {1:'one' , 'A':'two' , 3:'three'} 
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [2]:
# Return Dictionary Keys using keys() method

mydict.keys()

dict_keys([1, 2, 3])

In [16]:
mydict['A']

'two'

In [3]:
# Return Dictionary Values using values() method

mydict.values()

dict_values(['one', 'two', 'three'])

In [10]:
# Access each key-value pair within a dictionary 

mydict.items()

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [11]:
# dictionary with mixed keys

mydict = {1:'one' , 2:'two' , 'A':['Akash' , 'john' , 'Maria']} 
mydict

{1: 'one', 2: 'two', 'A': ['Akash', 'john', 'Maria']}

In [12]:
# dictionary with mixed keys

mydict = {1:'one' , 2:'two' , 'A':['Akash' , 'john' , 'Maria'],  'B':('Bat' , 'cat' , 'hat')} 
mydict

{1: 'one',
 2: 'two',
 'A': ['Akash', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [13]:
# dictionary with mixed keys

mydict = {1:'one' , 2:'two' , 
          'A':{'AName':'kash' , 'Age' :20},  
          'B':('Bat' , 'cat' , 'hat')} 
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'Akash', 'Age': 20},
 'B': ('Bat', 'cat', 'hat')}

In [14]:
# Create a dictionary from a sequence of keys

keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys)   
mydict3

{'b': None, 'c': None, 'a': None, 'd': None}

In [15]:
# Create a dictionary from a sequence of keys with value

keys = {'a' , 'b' , 'c' , 'd'}
value = 10
mydict3 = dict.fromkeys(keys , value) 
mydict3

{'b': 10, 'c': 10, 'a': 10, 'd': 10}

In [16]:
# Create a dictionary from a sequence of keys with value list

keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value)  
mydict3

{'b': [10, 20, 30], 'c': [10, 20, 30], 'a': [10, 20, 30], 'd': [10, 20, 30]}

In [17]:
value.append(40)
mydict3

{'b': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'd': [10, 20, 30, 40]}

### Accessing Items
Now, let’s talk about how to access data from a dictionary. 

There are two main ways to do it: using the key directly or using the .get() method.

In [18]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [19]:
mydict[1] # Access item using key

'one'

The .get() method is safer because it won’t raise an error if the key doesn’t exist

In [20]:
mydict.get(1) # Access item using get() method

'one'

In [21]:
mydict1 = {'Name':'Akash' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'}
mydict1

{'Name': 'Akash', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [22]:
mydict1['Name']  # Access item using key

'Akash'

In [23]:
mydict1.get('job')  # Access item using get() method

'Analyst'

### Add, Remove & Change Items
Let’s see how we can add, remove, and change items in a dictionary.

In [24]:
mydict1 = {'Name':'Akash' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict1

{'Name': 'Akash', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [25]:
# Changing Dictionary Items

mydict1['DOB'] = 1992  
mydict1['Address'] = 'Delhi'
mydict1

{'Name': 'Akash', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [26]:
dict1 = {'DOB':1995}
mydict1.update(dict1)
mydict1

{'Name': 'Akash', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [27]:
# Adding items in the dictionary

mydict1['Job'] = 'Analyst' 
mydict1

{'Name': 'Akash',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [28]:
# Removing items in the dictionary using Pop method

mydict1.pop('Job') 
mydict1

{'Name': 'Akash', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [29]:
# A random item is removed

mydict1.popitem()

('Address', 'Delhi')

In [30]:
mydict1

{'Name': 'Akash', 'ID': 12345, 'DOB': 1995}

In [31]:
# Removing item using del method

del[mydict1['ID']] 
mydict1

{'Name': 'Akash', 'DOB': 1995}

In [32]:
# Delete all items of the dictionary using clear method

mydict1.clear() 
mydict1

{}

In [33]:
# Delete the dictionary object

del mydict1 
mydict1

NameError: name 'mydict1' is not defined

### Copy Dictionary

In [34]:
mydict = {'Name':'Akash' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict

{'Name': 'Akash', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [35]:
# Create a new reference "mydict1" 

mydict1 = mydict

In [36]:
# The address of both mydict & mydict1 will be the same
# both are pointing to same dictionary.

id(mydict) , id(mydict1)

(2042572472872, 2042572472872)

In [37]:
# Create a copy of the dictionary

mydict2 = mydict.copy()

In [38]:
# The address of mydict2 will be different from mydict 
# because mydict2 is pointing to the copy of the existing dict.

id(mydict2)

2042572335048

In [39]:
mydict['Address'] = 'Mumbai'

In [40]:
mydict

{'Name': 'Akash', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [41]:
# mydict1 will be also impacted as it is pointing to the same dictionary

mydict1

{'Name': 'Akash', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [42]:
# Copy of list won't be impacted

mydict2

{'Name': 'Akash', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

### Loop through a Dictionary

In [5]:
mydict1 = {'Name':'Akash' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki' , 'Job': 'Analyst'}
mydict1

{'Name': 'Akash',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'Job': 'Analyst'}

In [6]:
for i in mydict1:
    print(i , ':' , mydict1[i]) # Key & value pair

Name : Akash
ID : 12345
DOB : 1991
Address : Hilsinki
Job : Analyst

In [17]:
for (k,v) in mydict1.items():
    print(k , ':' , v) # Key & value pair

Name : Akash
ID : 12345
DOB : 1991
Address : Hilsinki
Job : Analyst

In [45]:
for i in mydict1:
    print(mydict1[i]) # Dictionary items

Akash
12345
1991
Hilsinki
Analyst

### Dictionary Membership

In [46]:
mydict1 = {'Name':'Akash' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Akash', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [47]:
# Test if a key is in a dictionary or not.

'Name' in mydict1

True

In [48]:
# Membership test can be only done for keys.

'Akash' in mydict1

False

In [49]:
'ID' in mydict1

True

In [50]:
'Address' in mydict1

False

### All / Any

The __all()__ method returns:

- __True__ - If all all keys of the dictionary are true
- __False__ - If any key of the dictionary is false


The __any()__ function returns True if any key of the dictionary is True. If not, any() returns False.

In [51]:
mydict1 = {'Name':'Akash' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Akash', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [52]:
# Will Return false as one value is false (Value 0)

all(mydict1)

True

In [53]:
# Will Return True as we have items in the dictionary with True value

any(mydict1)

True

In [54]:
mydict1[0] = 'test1'
mydict1

{'Name': 'Akash', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst', 0: 'test1'}

In [55]:
all(mydict1) # Returns false as one value is false

False

In [56]:
# Will Return True as we have items in the dictionary with True value

any(mydict1)

True

### Dictionary Comprehension

In [57]:
#double each value using dict comprehension

double = {i:i*2 for i in range(10)} 
double

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [58]:
square = {i:i**2 for i in range(10)}
square

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [11]:
key = ['one' , 'two' , 'three' , 'four' , 'five']
value = [1,2,3,4,5]

mydict = {k:v for (k,v) in zip(key,value)} # using dict comprehension to create dictionary
mydict

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [60]:
# Divide all values in a dictionary by 10

mydict1 = {'a':10 , 'b':20 , 'c':30 , 'd':40 , 'e':50}
mydict1 = {k:v/10 for (k,v) in mydict1.items()} 
mydict1

{'a': 1.0, 'b': 2.0, 'c': 3.0, 'd': 4.0, 'e': 5.0}

In [61]:
# Store enumerated values in a dictionary

str1 = "Natural Language Processing"

mydict2 = {k:v for (k,v) in enumerate(str1)} 
mydict2

{0: 'N',
 1: 'a',
 2: 't',
 3: 'u',
 4: 'r',
 5: 'a',
 6: 'l',
 7: ' ',
 8: 'L',
 9: 'a',
 10: 'n',
 11: 'g',
 12: 'u',
 13: 'a',
 14: 'g',
 15: 'e',
 16: ' ',
 17: 'P',
 18: 'r',
 19: 'o',
 20: 'c',
 21: 'e',
 22: 's',
 23: 's',
 24: 'i',
 25: 'n',
 26: 'g'}

In [62]:
str1 = "abcdefghijklmnopqrstuvwxyz"
mydict3 = {i:i.upper() for i in str1} # Lower to Upper Case
mydict3

{'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D',
 'e': 'E',
 'f': 'F',
 'g': 'G',
 'h': 'H',
 'i': 'I',
 'j': 'J',
 'k': 'K',
 'l': 'L',
 'm': 'M',
 'n': 'N',
 'o': 'O',
 'p': 'P',
 'q': 'Q',
 'r': 'R',
 's': 'S',
 't': 'T',
 'u': 'U',
 'v': 'V',
 'w': 'W',
 'x': 'X',
 'y': 'Y',
 'z': 'Z'}

### Word Frequency using dictionary

In [63]:
mystr4 = "one two three four one two two three five five six seven six seven one one one ten eight ten nine eleven ten ten nine"

In [64]:
mylist = mystr4.split() # Split String into substrings
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'one',
 'one',
 'ten',
 'eight',
 'ten',
 'nine',
 'eleven',
 'ten',
 'ten',
 'nine']

In [65]:
mylist1 = set(mylist) # Unique values in a list
mylist1 = list (mylist1)
mylist1

['three',
 'seven',
 'two',
 'ten',
 'nine',
 'eight',
 'five',
 'one',
 'four',
 'eleven',
 'six']

In [66]:
# Calculate frequenct of each word
count1 = [0] * len(mylist1)
mydict5 = dict()
for i in range(len(mylist1)):
    for j in range(len(mylist)):
        if mylist1[i] == mylist[j]:
            count1[i] += 1
    mydict5[mylist1[i]] = count1[i]
print(mydict5)

{'three': 2, 'seven': 2, 'two': 3, 'ten': 4, 'nine': 2, 'eight': 1, 'five': 2, 'one': 5, 'four': 1, 'eleven': 1, 'six': 2}

In [1]:
print("Lesson_08_Dictionary")

Lesson_08_Dictionary