In [1]:
# Lesson-4: Strings
### String Creation
### String Indexing
### String Slicing
### Update & Delete String
### String concatenation
### Iterating through a String
### String Membership
### String Partitioning
### String Functions
### Using Escape Character

## Strings

### String Creation
Let's start by creating strings. In Python, you can define strings in different ways.

In [25]:
str1 = "HELLO PYTHON"

print(str1)

HELLO PYTHON

In [3]:
# Define string using single quotes

mystr = 'Hello World'
print(mystr)

Hello World

In [4]:
# Define string using double quotes

mystr = "Hello World" 
print(mystr)

Hello World

In [5]:
# Define string using triple single quotes

mystr = '''Hello               
            World '''   
print(mystr)

Hello
            World

In [6]:
# Define string using triple double quotes

mystr = """Hello
           World"""  
print(mystr)

Hello
           World

In [2]:
# Concatenated strings

mystr = ('Happy ''Monday '
         'Everyone')
print(mystr)

Happy Monday Everyone

In [2]:
# Repeating Strings

mystr2 = 'Hello '
mystr2 = mystr2*5
mystr2

'Hello Hello Hello Hello Hello '

In [9]:
# Length of string

len(mystr2) # Length of string

30

### String Indexing

Now, let’s talk about indexing. Python allows us to access characters in a string using indices, starting from 0.

You can also access characters using negative indices.

In [10]:
str1

'HELLO PYTHON'

In [11]:
# First character in string "str1"

str1[0]

'H'

In [12]:
# Last character in string using len function

str1[len(str1)-1]

'N'

In [13]:
# Last character in string

str1[-1]

'N'

In [14]:
#Fetch 7th element of the string 

str1[6]

'P'

In [15]:
str1[5]

' '

### String Slicing

Now, let’s move to slicing. It allows us to extract substrings from a string.

In [16]:
# Fetch all characters from 0 to 5 index location 
# excluding the character at loc 5.

str1[0:5]

'HELLO'

In [17]:
# Retreive all characters between 6 - 12 index loc excluding index loc 12.

str1[6:12]

'PYTHON'

In [18]:
# Retreive last four characters of the string

str1[-4:]

'THON'

In [19]:
# Retreive last six characters of the string

str1[-6:]

'PYTHON'

In [20]:
# Retreive first four characters of the string

str1[:4]

'HELL'

In [21]:
# Retreive first six characters of the string

str1[:6]

'HELLO '

### Update & Delete String

In [22]:
str1

'HELLO PYTHON'

In [4]:
# Strings are immutable which means 
# elements of a string cannot be changed once they have been assigned.

str1[0:5] = 'PYTHON'

NameError: name 'str1' is not defined

In [24]:
# Delete a string

#del str1 
print(srt1)

NameError: name 'srt1' is not defined

### String concatenation
Let’s move on to concatenation. You can combine two or more strings together.

In [26]:
# String concatenation

s1 = "Hello"
s2 = "World"
s3 = s1 + s2
print(s3)

HelloWorld

In [27]:
# String concatenation

s1 = "Hello"
s2 = "World"
s3 = s1 + " " + s2
print(s3)

Hello World

### Iterating through a String
Now, let’s iterate through the characters of a string using a for loop:

In [28]:
mystr1 = "Hello Everyone"

In [29]:
# Iteration  
for i in mystr1:
    print(i)

H
e
l
l
o

E
v
e
r
y
o
n
e

In [30]:
for i in enumerate(mystr1):
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'E')
(7, 'v')
(8, 'e')
(9, 'r')
(10, 'y')
(11, 'o')
(12, 'n')
(13, 'e')

### String Membership
In Python, you can check if a substring exists within a string using the in keyword:

In [31]:
# String membership

mystr1 = "Hello Everyone"

# Check whether substring "Hello" is present in string "mysrt1"
print ('Hello' in mystr1) 

# Check whether substring "Everyone" is present in string "mysrt1"
print ('Everyone' in mystr1) 

# Check whether substring "Hi" is present in string "mysrt1"
print ('Hi' in mystr1)

True
True
False

### String Partitioning
Let’s explore partitioning strings using partition() and rpartition() methods:

In [32]:
#first occurrence of a specified separator
str5 = "Natural language processing with Python and R and Java"
L = str5.partition("and") 
print(L)

('Natural language processing with Python ', 'and', ' R and Java')

In [3]:
#last occurrence of a specified separator - right partition
str5 = "Natural language processing with Python and R and Java"
L = str5.rpartition("and") 
print(L)

('Natural language processing with Python and R ', 'and', ' Java')

### String Functions
Python provides several built-in string functions. Let’s check them out:

In [34]:
mystr2 = "   Hello Everyone  "
mystr2

'   Hello Everyone  '

In [35]:
# Removes white space from begining & end

mystr2.strip()

'Hello Everyone'

In [36]:
# Removes all whitespaces at the end of the string

mystr2.rstrip()

'   Hello Everyone'

In [37]:
# Removes all whitespaces at the begining of the string

mystr2.lstrip()

'Hello Everyone  '

In [38]:
mystr2 = "*********Hello Everyone***********All the Best**********"
mystr2

'*********Hello Everyone***********All the Best**********'

In [39]:
# Removes all '*' characters from begining & end of the string

mystr2.strip('*')

'Hello Everyone***********All the Best'

In [40]:
# Removes all '*' characters at the end of the string

mystr2.rstrip('*')

'*********Hello Everyone***********All the Best'

In [41]:
# Removes all '*' characters at the begining of the string

mystr2.lstrip('*')

'Hello Everyone***********All the Best**********'

In [42]:
mystr2 = "   Hello Everyone  "

In [43]:
# Return whole string in lowercase

mystr2.lower()

'   hello everyone  '

In [44]:
# Return whole string in uppercase 

mystr2.upper()

'   HELLO EVERYONE  '

In [45]:
#Replace substring "He" with "Ho"

mystr2.replace("He" , "Ho")

'   Hollo Everyone  '

In [46]:
# Remove all whitespaces using replace function

mystr2.replace(" " , "")

'HelloEveryone'

In [47]:
mystr5 = "one two Three one two two three"

In [48]:
# Number of times substring "one" occurred in string.

mystr5.count("one")

2

In [49]:
# Number of times substring "two" occurred in string.

mystr5.count("two")

3

In [50]:
# Return boolean value True if string starts with "one"

mystr5.startswith("one")

True

In [51]:
# Return boolean value True if string ends with "three"

mystr5.endswith("three")

True

In [52]:
mystr4 = "one two three four one two two three five five six seven six seven one one one ten eight ten nine eleven ten ten nine"

In [53]:
# Split String into substrings

mylist = mystr4.split() 
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'one',
 'one',
 'ten',
 'eight',
 'ten',
 'nine',
 'eleven',
 'ten',
 'ten',
 'nine']

In [54]:
# Combining string & numbers using format method

item1 = 40
item2 = 55
item3 = 77

res = "Cost of item1 , item2 and item3 are {} , {} and {}"

print(res.format(item1,item2,item3))
print(res.format(item4,item5,item5))

Cost of item1 , item2 and item3 are 40 , 55 and 77

In [55]:
# Combining string & numbers using format method

item1 = 40
item2 = 55
item3 = 77

res = "Cost of item3 , item2 and item1 are {2} , {1} and {0}"

print(res.format(item1,item2,item3))

Cost of item3 , item2 and item1 are 77 , 55 and 40

In [56]:
# center align the string using a specific character as the fill character.

str2 = " WELCOME EVERYONE "
str2 = str2.center(100) 
print(str2)

                                          WELCOME EVERYONE

In [57]:
# center align the string using a specific character ('*') as the fill character.

str2 = " WELCOME EVERYONE "
str2 = str2.center(100,'*') 
print(str2)

***************************************** WELCOME EVERYONE *****************************************

In [58]:
# Right align the string using a specific character as the fill character.

str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50) 
print(str2)

                                 WELCOME EVERYONE

In [59]:
# Right align the string using a specific character ('*') as the fill character.

str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50,'*') 
print(str2)

******************************** WELCOME EVERYONE

In [60]:
# Find the location of word 'five' in the string "str4"

str4 = "one two three four five six seven"
loc = str4.find("five") 
print(loc)

19

In [61]:
# Find the location of word 'five' in the string "str4"

str4 = "one two three four five six seven"
loc = str4.index("five") 
print(loc)

19

In [62]:
mystr6 = '123456789'

# returns True if all the characters in the text are letters
print(mystr6.isalpha()) 

# returns True if a string contains only letters or numbers or both
print(mystr6.isalnum()) 

# returns True if all the characters are decimals (0-9)
print(mystr6.isdecimal()) 

# returns True if all the characters are numeric (0-9)
print(mystr6.isnumeric())

False
True
True
True

In [63]:
mystr6 = 'abcde'

# returns True if all the characters in the text are letters
print(mystr6.isalpha())

# returns True if a string contains only letters or numbers or both
print(mystr6.isalnum())  

# returns True if all the characters are decimals (0-9)
print(mystr6.isdecimal()) 

# returns True if all the characters are numeric (0-9)
print(mystr6.isnumeric())

True
True
False
False

In [64]:
mystr6 = 'abc12309'

# returns True if all the characters in the text are letters
print(mystr6.isalpha()) 

# returns True if a string contains only letters or numbers or both
print(mystr6.isalnum())  

# returns True if all the characters are decimals (0-9)
print(mystr6.isdecimal()) 

# returns True if all the characters are numeric (0-9)
print(mystr6.isnumeric())

False
True
False
False

In [65]:
mystr7 = 'ABCDEF'

# Returns True if all the characters are in upper case
print(mystr7.isupper())  

# Returns True if all the characters are in lower case
print(mystr7.islower())

True
False

In [66]:
mystr8 = 'abcdef'

# Returns True if all the characters are in upper case
print(mystr8.isupper()) 

# Returns True if all the characters are in lower case
print(mystr8.islower())

False
True

In [67]:
# last occurrence of word 'one' in string "str6"

str6 = "one two three four one two two three five five six one ten eight ten nine eleven ten ten nine"

loc = str6.rfind("one") 
print(loc)

51

In [68]:
# last occurrence of word 'one' in string "str6"

loc = str6.rindex("one") 

print(loc)

51

In [69]:
txt = "   abc def ghi   "

txt.rstrip()

'   abc def ghi'

In [70]:
txt = "   abc def ghi   "

txt.lstrip()

'abc def ghi   '

In [71]:
txt = "   abc def ghi   "

txt.strip()

'abc def ghi'

### Using Escape Character

In [72]:
# Using double quotes in the string is not allowed.

mystr = "My favourite TV Series is "Game of Thrones""

SyntaxError: invalid syntax (<ipython-input-72-c9eccd4331cb>, line 3)

In [5]:
# Using escape character to allow illegal characters

mystr = "My favourite TV Series is \"Game of Thrones\""
print(mystr)

My favourite TV Series is "Game of Thrones"

In [10]:
print("Lesson_4_Strings")

Lesson_4_Strings